<div class="contact-form">
    <div class="contact-form-row" fxLayout='row'>
        <div class="contact-form-left-side" fxFlex='38' fxHide.lt-md>
            <span class="contact-form-title">Solicitar contacto</span>
            <span class="contact-form-description">
                Para solicitar contacto con un ejecutivo, solo debes
                ingresar la siguiente información. Un ejecutivo se 
                pondrá en contacto contigo en poco tiempo.
            </span>
            <div style='margin-top: 20px;'>
                <ng-lottie height="200px" [options]="options"></ng-lottie>
            </div>
            <div class="left-footer">
                <span>Plan: {{data.plan?.name}}</span>
            </div>
            <!-- Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto hic, laboriosam, omnis quas laudantium, illum nobis velit iure dolorum repellat maxime. Voluptatem perferendis debitis id? Suscipit ratione incidunt perspiciatis ipsa. -->
        </div>
        <div class="contact-form-right-side" fxFlex='62' fxFlex.lt-md='100' [formGroup]='contactFormGroup'>
            <div fxLayout="row wrap" fxLayoutGap='30px grid'>
                <div fxFlex='100' fxHide.gt-sm>
                    <b style="text-align: center;display: block;font-size: 25px;margin-bottom: 20px;">Solicitar contacto</b>
                    <p style="text-align: center; font-size: 12px; line-height: 1.2; color: #717171;">Para solicitar contacto con un ejecutivo, solo debes ingresar la siguiente información. Un ejecutivo se pondrá en contacto contigo en poco tiempo.</p>
                </div>
                <div fxFlex='50' fxFlex.lt-sm='100'>
                    <mat-form-field style="width: 100%" class="example-form-field">
                        <mat-label>Nombre y Apellido</mat-label>
                        <input matInput formControlName='full_name'>
                        <mat-error>Nombres y apellidos son obligatorios</mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex='50' fxFlex.lt-sm='100'>
                    <mat-form-field style="width: 100%" class="example-form-field">
                        <mat-label>RUT</mat-label>
                        <input matInput formControlName='rut'>
                        <mat-error *ngIf='contactFormGroup.get("rut")?.hasError("pattern")'>RUT invalido</mat-error>
                        <mat-error *ngIf='contactFormGroup.get("rut")?.hasError("required")'>El RUT es obligatorio</mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex='50' fxFlex.lt-sm='100'>
                    <mat-form-field style="width: 100%" class="example-form-field">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName='email'>
                        <mat-error *ngIf='contactFormGroup.get("email")?.hasError("email")'>El email es invalido</mat-error>
                        <mat-error *ngIf='contactFormGroup.get("email")?.hasError("required")'>El email es obligatorio</mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex='50' fxFlex.lt-sm='100'>
                    <mat-form-field style="width: 100%" class="example-form-field">
                        <mat-label>Telefono</mat-label>
                        <input matInput formControlName='phone'>
                        <mat-error>El telefono es invalido</mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex='100' fxFlex.lt-sm='100'>
                    <span style="margin-bottom: 15px; display: block;font-weight: 600;">¿Entre que hora te gustaría que nos contactemos contigo?</span>
                </div>

                <div fxFlex='25' fxFlex.lt-sm='50'>
                    <mat-form-field style="width: 100%" class="example-form-field">
                        <mat-label>Desde las</mat-label>
                        <input matInput type='time' formControlName='preferent_contact_time_start'>
                        <mat-error>El telefono es invalido</mat-error>
                    </mat-form-field>
                </div>

                <div fxFlex='25' fxFlex.lt-sm='50'>
                    <mat-form-field style="width: 100%" class="example-form-field">
                        <mat-label>Hasta las</mat-label>
                        <input matInput type='time' formControlName='preferent_contact_time_end'>
                        <mat-error>El telefono es invalido</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div style="margin-top: 30px;">
                <span style="margin-bottom: 15px; display: block;font-weight: 600;">¿Cual es tu isapre actual?</span>
                <mat-radio-group formControlName='isapre_id'>
                    <div fxLayout="row wrap" fxLayoutGap='15px grid'>
                        <div *ngFor='let isapre of data.isapres' fxFlex='20' fxFlex.lt-md='30' fxFlex.lt-sm='50'>
                            <mat-radio-button [value]='isapre.id'>
                                {{isapre.name}}
                            </mat-radio-button>
                        </div>
                    </div>
                </mat-radio-group>
                <mat-error *ngIf='contactFormGroup.get("isapre")?.hasError("required")'>Isapre es requerido</mat-error>
            </div>
            <div style="margin-top: 30px;">
                <mat-form-field style="width: 100%" class="example-form-field">
                    <mat-label>Mensaje</mat-label>
                    <textarea matInput cols="30" rows="4" formControlName='message'></textarea>
                </mat-form-field>
            </div>
            <div fxLayout="row wrap" fxLayoutGap='10px grid' class="contact-footer">
                <div fxFlex='50' fxFlex.lt-sm='100'>
                    <b>Plan:</b>
                    <p>{{data.plan?.name}}</p>
                </div>
                <div fxFlex='50' fxFlex.lt-sm='100'>
                    <div style="width: 100%; text-align: right;">
                        <button [ngStyle.lt-sm]='{width: "100%"}' (click)='register()' style='background-color: #036e8f; color:white' mat-raised-button>
                            Solicitar informacion
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>