.contact-form {
    height: 100%;
    .contact-form-row {
        .contact-footer {
            margin-top: 20px !important;
        }
        height: 100%;
        .contact-form-left-side {
            background-color: #036e8f;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
            color: white;
            padding: 40px 24px;
            position: relative;
            .contact-form-title {
                font-size: 26px;
                font-weight: 500;
            }
            .contact-form-description {
                display: block;
                margin-top: 22px;
            }
            .left-footer {
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                bottom: 22px;
                text-align: center;
                font-size: 14px;
            }
        }
        .contact-form-right-side {
            padding: 40px 40px;
            max-height: 100%;
            height: 100%;
            overflow: auto;
        }
    }
}