<section class="login-section">
    <div class="login-container">
        <div class="logo">
            <!-- <img src="assets/images/logo.png" alt="ColmenaPMP"> -->
        </div>
        <div class="login-card">
            <h1>Bienvenido</h1>
            <span>Ingresa tus credenciales para ingresar al sistema</span>
            <div class="login-form" [formGroup]='loginForm'>
                <mat-form-field appearance='outline'>
                    <mat-label>Ingresa tu email</mat-label>
                    <input formControlName='email' type="text" matInput>
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <mat-form-field appearance='outline'>
                    <mat-label>Ingresa tu contraseña</mat-label>
                    <input formControlName='password' type="password" matInput>
                    <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
                <div class="login-btn">
                    <button (click)='login()' mat-raised-button color="primary">Ingresar</button>
                </div>
            </div>
        </div>
        <div  class="forgot-pass">
            <span [routerLink]='"/solicitud-cambio-password"'>¿Olvidaste tu contraseña?</span>
        </div>
    </div>
</section>