<nav class="nav">
    <div class="nav-content">
        <div class="nav-row" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxFlex='20'>
                <img src="assets/images/logo4.png" alt="Super plan">
            </div>
            <div class="navbar-items stroke" fxFlex='60'>
                <ul fxHide.lt-md>
                    <li [class]="tabs[0] ? 'active' : ''" (click)='changeActiveTab(0)' routerLink='/buscar-planes'>
                        <span>Inicio</span>
                    </li>
                    <li *ngIf='(loginService.user | json) != ({} | json)' [class]="tabs[1] ? 'active' : ''" (click)='changeActiveTab(1)' routerLink='/administracion/isapres'>
                        <span>Isapres</span>
                    </li>
                    <li *ngIf='(loginService.user | json) != ({} | json)' [class]="tabs[2] ? 'active' : ''" (click)='changeActiveTab(2)' routerLink='/administracion/proveedores'>
                        <span>Proveedores</span>
                    </li>
                    <li *ngIf='(loginService.user | json) != ({} | json)' [class]="tabs[4] ? 'active' : ''" (click)='changeActiveTab(4)' routerLink='/administracion/usuarios'>
                        <span>Usuarios</span>
                    </li>
                    <li *ngIf='(loginService.user | json) != ({} | json)' [class]="tabs[5] ? 'active' : ''" (click)='changeActiveTab(5)' routerLink='/administracion/clientes'>
                        <span>Clientes</span>
                    </li>
                </ul>
            </div>
            <div fxFlex='20'>
                <div class="right-container">
                    <button *ngIf='(loginService.user | json) != ({} | json)' (click)='loginService.logout()' mat-stroked-button fxHide.lt-md>Cerrar sesión</button>
                    <nav class="responsive-navigation" fxHide.gt-sm>
                        <div id="menuToggle">
                            <input type="checkbox" />
                            <span></span>
                            <span></span>
                            <span></span>
                            <ul id="menu">
                                <li class="first"><a>Inicio</a></li>
                                <li><a>Isapres</a></li>
                                <li><a>Clinicas</a></li>
                                <li><a>Usuarios</a></li>
                                <li><a>Clientes</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>


            </div>
        </div>
    </div>
</nav>