<section class="login-section">
    <div class="login-container">
        <div class="logo">
            <!-- <img src="assets/images/logo.png" alt="ColmenaPMP"> -->
        </div>
        <div class="login-card">
            <div class="email-confirm-icon">
                <mat-icon>email</mat-icon>
            </div>
            <h1>¡Email enviado!</h1>
            <span>
                Hemos enviado un email a tu direccion de correo electronico. Revisa tu bandeja de entrada y sigue los pasos para restablecer tu contraseña
            </span>
        </div>
        <div class="forgot-pass">
            <span [routerLink]='"/ingresar"'>Volver al panel de ingreso</span>
        </div>
    </div>
</section>