<div class="dialog-container" style="height: 99%;">
    <div style="overflow: auto;height: 87%;">
        <iframe [src]="this.doc" width="100%" height="100%" frameborder="0"></iframe>
    </div>
    <div class="dialog-footer" style="height: 13.9%;border-top: 1px solid #0000002b; position: relative">
        <div style='text-align: center; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; height: fit-content;'>
            <button (click)='getPlan()' style='background-color: #036e8f;' color="primary" mat-raised-button mat-dialog-close>
                Contratar plan
            </button>
        </div>
    </div>
</div>