<section class="login-section">
    <div class="login-container">
        <div class="logo">
            <!-- <img src="assets/images/logo.png" alt="Super plan"> -->
        </div>
        <div class="login-card">
            <h1>Cambiar de contraseña</h1>
            <span>Ingresa tu correo electronico y te enviaremos un email con un link para establecer tu nueva contraseña</span>
            <div class="login-form" [formGroup]='forgotPasswordForm'>
                <mat-form-field appearance='outline'>
                    <mat-label>Ingresa tu email</mat-label>
                    <input formControlName='email' type="text" matInput>
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required')">El email es obligatorio</mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email')">Email invalido</mat-error>
                </mat-form-field>
                <div class="login-btn">
                    <button (click)='sendResetPasswordRequest()' mat-raised-button color="primary">Enviar solicitud</button>
                </div>
            </div>
        </div>
        <div class="forgot-pass">
            <span [routerLink]='"/ingresar"'>Volver</span>
        </div>
    </div>
</section>