<mat-progress-bar [style]='(httpStateService.state | async)?.requestingCount==0 ? "display:none": ""' mode="indeterminate"></mat-progress-bar> 
<app-splash-screen></app-splash-screen>

<app-navbar
  *ngIf='
    globalService.path!="/ingresar" &&
    globalService.path!="/solicitud-cambio-password" &&
    globalService.path!="/confirmacion-email"
  ' 
></app-navbar>

<main 
[style]='globalService.path=="/ingresar" ||
         globalService.path=="/solicitud-cambio-password" ||
         globalService.path=="/confirmacion-email"
        ? "background-color: #f2f6ff;": ""
'
>
  <router-outlet></router-outlet>
</main>