@import '/src/variables.scss';
.plan-seeker {
    margin: 40px auto;
    .region {
        .custom-choose {
            label {
                width: 42% !important;
            }
        }
        .custom-choose.row-region-2 {
            margin-top: 10px !important;
        }
    }
    .custom-choose {
        display: flex;
        justify-content: space-between;
        align-items: center;
        input[type='radio'],
        input[type='checkbox'] {
            display: none;
        }
        input[type='radio']+label,
        input[type='radio']:not(checked)+label,
        input[type='checkbox']+label,
        input[type='checkbox']:not(checked)+label {
            padding: 4px 6px;
            border: solid 2px #036e8f;
            border-radius: 47px;
            text-align: center;
            transition: 0.4s;
            width: fit-content;
            cursor: pointer;
            font-size: 13px;
        }
        input[type='radio']:checked+label,
        input[type='checkbox']:checked+label {
            position: relative;
            border: solid 2px #036e8f;
            background: #036e8f;
            color: #FFF;
            transition: .4s;
        }
    }
    mat-card {
        margin-bottom: 20px;
        box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%) !important;
        border-radius: 10px;
        .region {
            .region-header {
                margin-bottom: 6px;
            }
        }
        .plan-type {
            .plan-type-header {
                margin-bottom: 6px;
            }
        }
    }
    mat-divider {
        position: relative !important;
        left: 0 !important;
        right: 0 !important;
        width: 80% !important;
        margin: 30px auto !important;
        border-top-width: 3px;
        border-radius: 10px;
    }
    .search-section {
        transition: all 400ms;
        .search-section-title {
            font-weight: 500;
            color: $blue-sapphire;
            display: block;
            height: fit-content;
            margin-top: 3px;
        }
        .beneficiary {
            .add-beneficiary-text {
                text-align: center;
                margin-bottom: 10px;
                height: 26px;
            }
            .beneficiary-header {
                display: flex;
                justify-content: space-between;
                margin-bottom: 5px;
                .add-beneficiary-btn {
                    width: 100%;
                    background: $blue-sapphire;
                    color: white;
                    font-size: 12px;
                    line-height: 2;
                    padding: 1px 12px;
                    .add-beneficiary-icon {
                        font-size: 15px;
                        margin-right: 1px;
                        margin-bottom: -6px;
                    }
                }
            }
            .beneficiary-thead {
                display: flex;
                justify-content: space-between;
                background: #F8F8F8;
                padding: 2px 7px;
                border-radius: 5px;
                font-size: 11px;
                margin-bottom: 12px;
                font-weight: 500;
                color: #046e8f;
            }
        }
    }
}

.beneficiary-tbody,
.user-sex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .age-container {
        background: #119691;
        border-radius: 25px;
        height: 22px;
    }
    input[type=text] {
        padding: 3px;
        height: auto;
        border: 0;
        background-color: transparent;
        border-radius: .357rem!important;
        text-align: center;
        font-weight: 500;
        width: 15px;
        font-weight: 600;
        color: white;
    }
    input[type=text]:focus {
        outline: none !important;
    }
    .remove-beneficiary {
        font-size: 15px;
        width: 15px;
        height: 15px;
        margin: 5px 0;
        font-weight: 800;
        color: #cc3868;
        cursor: pointer;
    }
    .radio-toggles {
        align-items: center;
        background: #f8f8f8;
        border: 1px solid lightgrey;
        border-radius: 9999px;
        display: flex;
        justify-content: center;
        max-width: 400px;
        overflow: hidden;
        position: relative;
        label {
            cursor: pointer;
            padding: 2px 12px;
            text-align: center;
            width: 50%;
            z-index: 2;
            font-size: 11px;
            letter-spacing: .75px;
        }
        .slide-item {
            background: white;
            border-radius: 9999px;
            height: calc(100% - 4px);
            left: calc(50% + 4px);
            position: absolute;
            width: calc(51% - 8px);
            transition: left 0.4s;
            z-index: 0;
        }
        input[type="radio"] {
            left: -9999px;
            position: absolute;
            z-index: -1;
        }
        input[type="radio"]:nth-of-type(1):checked~.slide-item {
            left: 4px;
            width: calc(45% - 8px) !important;
            background-color: rgb(204 56 104);
        }
        input[type="radio"]:nth-of-type(2):checked~.slide-item {
            left: calc(43% + 4px);
            width: calc(58% - 8px);
            background-color: rgb(4 109 142);
        }
        input[type="radio"]:nth-of-type(1):checked~label:nth-of-type(1) {
            color: white!important;
            font-weight: 600
        }
        input[type="radio"]:nth-of-type(2):checked~label:nth-of-type(2) {
            color: white!important;
            font-weight: 600;
        }
    }
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    &>* {
        margin: 5px 5px;
        width: 29%;
    }
    .checkbox-tile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        min-height: 3rem;
        border-radius: 0.5rem;
        border: 2px solid #b5bfd9;
        background-color: #fff;
        box-shadow: 0 5px 10px rgba(#000, 0.1);
        transition: 0.15s ease;
        cursor: pointer;
        position: relative;
        .checkbox-label {
            color: #707070;
            transition: .375s ease;
            text-align: center;
            font-size: 12.5px;
        }
        .checkbox-icon {
            transition: .375s ease;
            color: #494949;
            img {
                height: 25px;
                padding: 5px;
            }
        }
        &:before {
            content: "";
            position: absolute;
            display: block;
            width: .5rem;
            height: .5rem;
            border: 2px solid #b5bfd9;
            background-color: #fff;
            border-radius: 50%;
            top: 0.25rem;
            left: 0.25rem;
            opacity: 0;
            transform: scale(0);
            transition: 0.25s ease;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
            background-size: 12px;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
        &:hover {
            border-color: #2260ff;
            &:before {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
    .checkbox-input {
        // Code to hide the input
        clip: rect(0 0 0 0);
        clip-path: inset(100%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
        &:checked+.checkbox-tile {
            border-color: #2260ff;
            font-weight: 500;
            box-shadow: 0 5px 10px rgba(#000, 0.1), 0 0 0 4px #b5c9fc;
            color: #2260ff;
            &:before {
                transform: scale(1);
                opacity: 1;
                background-color: #2260ff;
                border-color: #2260ff;
            }
            .checkbox-icon,
            .checkbox-label {
                color: #2260ff;
            }
        }
    }
}

::ng-deep .beneficiary {
    .price-range {
        .range-inputs-container {
            position: relative;
            width: 100%;
            margin-top: 18px;
        }
        .mat-slider-horizontal {
            width: 100% !important;
        }
    }
}

.beneficiary {
    .beneficiary-tbody {
        .age-btn {
            background: transparent;
            border: none;
            color: white;
            font-weight: 900;
            font-size: 13px;
            padding: 2px 7px;
            cursor: pointer;
        }
        .age-btn:focus {
            background: transparent;
            border: none;
            outline: none !important;
        }
    }
}

::ng-deep .plan-card-order {
    .ngx-slider .ngx-slider-tick-value {
        top: -25px !important;
    }
}

::ng-deep .price-range,
 ::ng-deep .plan-card-order {
    .ngx-slider .ngx-slider-pointer {
        transform: scale(0.75);
        outline: none !important;
    }
    .ngx-slider .ngx-slider-bubble {
        background: transparent !important;
        color: #119691 !important;
        font-weight: 500 !important;
        padding: 1px 9px 0px !important;
        bottom: 15px !important;
        border-radius: 17px !important;
        font-size: 12px !important;
        z-index: 9;
    }
    .ngx-slider .ngx-slider-bubble.ngx-slider-limit {
        background: #119691 !important;
        color: white !important;
        display: none !important;
    }
    .ngx-slider .ngx-slider-pointer:BEFORE {
        content: " ";
        background: transparent;
        width: 20px;
        height: 20px;
        z-index: 1;
        left: 0;
        right: 0;
        top: -33px;
        margin: auto;
        position: absolute;
        border-radius: 2px;
        transform: rotate(45deg);
    }
    .range-inputs {
        display: flex;
        margin-bottom: 20px;
        justify-content: space-between;
        input {
            width: 80%;
            border: none;
            border-radius: 5px;
            padding: 8px 7px;
            text-align: center;
            color: #8c8c8c;
            background: #e8e8e8;
            font-weight: 800;
        }
        div {
            width: 40%;
        }
        label {
            font-size: 12px;
            font-weight: 500;
            color: #8c8c8c;
        }
    }
}

.clinic {
    .mat-list-base .mat-list-item .mat-list-item-content,
    .mat-list-base .mat-list-option .mat-list-item-content {
        height: 30px !important;
        padding: 0px !important;
    }
    .clinic-header {
        display: flex;
        justify-content: space-between;
        button {
            height: 30px;
            line-height: 1;
            font-size: 12px;
        }
    }
    .mat-list-base .mat-list-item {
        height: 30px !important;
    }
    .clinic-container {
        max-height: 200px;
        overflow: auto;
        padding: 0px 15px;
    }
    .clinic-container::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }
    .clinic-container::-webkit-scrollbar {
        width: 8px;
        background-color: #F5F5F5;
    }
    .clinic-container::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: #046e8f;
    }
    .mat-accent .mat-pseudo-checkbox-checked {
        background: #036e8f !important;
    }
}

.profits {
    font-size: 20px;
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
    display: block;
}

.provider-name {
    margin-top: 2px;
    line-height: 1;
    display: flex;
    justify-content: space-between;
}

.provider-name-feature {
    color: #036e8f;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: .3px;
}

div div div .plan-card-real {
    box-shadow: 0 1px 9px 0 rgb(34 41 47 / 67%) !important;
}

.input-label {
    font-size: 12px;
    line-height: 1;
    font-weight: 500;
    display: block;
    margin-left: 4px;
}

.plan-card {
    position: relative;
    margin-bottom: 0px !important;
    padding: 16px 20px;
    .plan-container {
        .price {
            text-align: center;
            .amount {
                font-size: 24px;
                font-weight: 600;
            }
            .period {
                font-size: 12px;
                font-weight: 200;
                margin-left: 6px;
            }
        }
        .plan-type {
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
            /* position: absolute; */
            right: 30px;
            top: -15px;
            background: #119691;
            color: white;
            padding: 0px 7px;
            border-radius: 13px;
            height: fit-content;
            font-size: 11px;
        }
        .plan-name-container {
            height: 45px;
            .plan-name {
                font-size: 15px;
                text-align: center;
                font-weight: 500;
                color: #036e8f;
                line-height: 1.2;
            }
        }
    }
}

.seeker-main {
    margin-bottom: 15px !important;
    position: relative;
}

.paginator mat-select {
    margin-top: 30px !important;
}

// ::ng-deep .cdk-overlay-pane {
//     transform: translate(-16px, -40px) !important;
// }
.isapre-name {
    font-weight: 500;
    margin-bottom: 2px;
    color: #8c8c8c;
    background: #e8e8e8;
    padding: 2px 0px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    display: block;
}

.mid-container {
    width: 100%;
    .hospitalizacion-box {
        width: 100%;
        border-radius: 16px;
        height: inherit;
        min-height: 125px;
        h4 {
            font-weight: 500;
            margin-bottom: 2px;
            color: #545454;
            padding: 2px 0px;
            border-radius: 5px;
            text-align: left;
        }
        p {
            font-size: 13px;
            line-height: 1.2;
            text-align: left;
            color: #8c8c8c;
            min-height: 135px;
        }
    }
}

mat-paginator {
    margin-bottom: 20px;
    box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1) !important;
    border-radius: 10px;
}

.result-count {
    background: #119691;
    color: white;
    padding: 0px;
    border-radius: 7px;
    font-size: 20px;
    text-align: center;
    div {
        padding: 10px 10px;
        box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1) !important;
        border-radius: 10px;
    }
    .amount {
        display: block;
        font-size: 21px;
        font-weight: 500;
    }
    .results-text {
        font-size: 12px;
        display: block;
        margin-bottom: 8px;
    }
}

.bd-example>.alert+.alert,
.bd-example>.nav+.nav,
.bd-example>.navbar+.navbar,
.bd-example>.progress+.btn,
.bd-example>.progress+.progress {
    margin-top: 1rem;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    line-height: 1.2;
}

.alert-warning .alert-link {
    color: #533f03;
}

.alert-link {
    font-weight: 700;
}

::ng-deep .plan-seeker .plan-card-order .mat-form-field-wrapper {
    padding: 0px !important;
}

::ng-deep .pdf-dialog .mat-dialog-container {
    padding-bottom: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

::ng-deep .manage-plan-dialog .mat-dialog-container {
    padding: 50px !important;
}

::ng-deep .contact-form-dialog .mat-dialog-container {
    padding: 0px !important;
}

::ng-deep .mat-pseudo-checkbox-checked,
::ng-deep .mat-pseudo-checkbox-indeterminate,
::ng-deep .mat-accent .mat-pseudo-checkbox-checked,
::ng-deep .mat-accent .mat-pseudo-checkbox-indeterminate {
    background: #036e8f !important;
}

@media screen and (max-width: 1279px) {
    .search-menu-container {
        position: fixed;
        background: #f5f5f5;
        overflow: auto;
        padding: 20px;
        z-index: 9;
        left: 0;
        top: 0;
        // max-height: -webkit-fill-available;
        height: 100%;
        max-width: 300px;
        transform: translateX(-340px);
        -webkit-box-shadow: 1px 1px 13px -2px #000000;
        box-shadow: 1px 1px 13px -2px #000000;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }
    .search-btn {
        left: 0;
    }
}

@media screen and (max-width: 600px) {
    .main-messsage {
        mat-card {
            margin: 90px auto !important;
            font-size: 18px !important;
        }
    }
}

@media screen and (max-width: 400px) {
    .search-menu-container {
        padding: 12px;
    }
}

.main-messsage {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    mat-card {
        margin: 200px auto;
        z-index: 0;
        text-align: center;
        font-size: 30px;
        line-height: 1.5;
        font-weight: 500;
        max-width: 800px;
        color: #036e8f;
    }
}

.w-100 {
    width: 100%;
}

::ng-deep .profile .mat-form-field-wrapper {
    padding-bottom: 5px;
}

::ng-deep .profile .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: .2em 0 .6em 0 !important;
}

.profile-field-container {
    padding: 0px 4px !important;
}

#show-sidebar {
    opacity: 1;
    position: fixed;
    left: 0;
    top: 65px;
    border-radius: 0 4px 4px 0px;
    width: 35px;
    transition-delay: 0.3s;
    z-index: 9;
    background: #036e8f;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

// #menuToggle input:checked~ul {
//     transform: none;
// }
::ng-deep {
    @media screen and (max-width: 445px) {
        .mat-paginator-range-label {
            display: none;
        }
    }
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    .alert-success .alert-link {
        color: #0b2e13;
    }
}

::ng-deep {
    @media screen and (max-width: 400px) {
        .mat-paginator-container {
            font-size: 10.6px;
        }
    }
}

.user-fb {
    margin: auto !important;
    font-size: 12px;
    margin-left: 8px;
    font-weight: 500;
    letter-spacing: .3px;
    background: #036e8f;
    color: white;
    border-radius: 4px;
    text-align: center;
}

.search-section-title {
    font-weight: 500;
    color: $blue-sapphire;
    display: block;
    height: fit-content;
    margin-top: 3px;
}

.benefits-icon {
    font-size: 25px;
}

.whatsapp-icon {
    font-size: 22px;
}

.benefits-title {
    font-size: 16px;
    margin-top: 4px;
    margin-left: 8px;
    display: block;
}

.benefits-text {
    font-size: 12px;
    margin-top: 8px;
    margin-left: 10px;
    display: block;
}

.benefit-container {
    display: flex;
    box-shadow: 4px 4px 4px #cacaca;
    border: 1px solid #ddd;
    margin-top: 11px;
    padding: 5px 15px;
}

.seek-btn {
    animation: shakeAnim 8s infinite linear;
}

@keyframes shakeAnim {
    0% {
        left: 0
    }
    1% {
        left: -3px
    }
    2% {
        left: 5px
    }
    3% {
        left: -8px
    }
    4% {
        left: 8px
    }
    5% {
        left: -5px
    }
    6% {
        left: 3px
    }
    7% {
        left: 0
    }
}