<section class="login-section">
    <div class="login-container">
        <div class="logo">
            <!-- <img src="assets/images/logo.png" alt="Super plan"> -->
        </div>
        <div class="login-card">
            <h1>Cambiar contraseña</h1>
            <span>Ingresa tu nueva contraseña</span>
            <div class="login-form" [formGroup]='resetPasswordForm'>
                <mat-form-field appearance='outline'>
                    <mat-label>Contraseña</mat-label>
                    <input formControlName='password' type="password" matInput>
                    <mat-icon matSuffix>lock</mat-icon>
                    <mat-error>
                        La contraseña es requerida
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance='outline'>
                    <mat-label>Confirma tu contraseña</mat-label>
                    <input formControlName='passwordConfirm' type="password" matInput>
                    <mat-icon matSuffix>lock</mat-icon>
                    <mat-error *ngIf="resetPasswordForm.get('passwordConfirm')?.hasError('required')">
                        La confirmación de contraseña es obligatoria
                    </mat-error>
                    <mat-error *ngIf="!resetPasswordForm.get('passwordConfirm')?.hasError('required') &&
                                       resetPasswordForm.get('passwordConfirm')?.hasError('passwordsNotMatching')">
                        Las contraseñas no coinciden
                    </mat-error>
                </mat-form-field>
                <div class="login-btn">
                    <button (click)='resetPassword()' mat-raised-button color="primary">Cambiar contraseña</button>
                </div>
            </div>
        </div>
        <div  class="forgot-pass">
            <span [routerLink]='"/solicitud-cambio-password"'>Volver al panel de ingreso</span>
        </div>
    </div>
</section>