.confirmation-title {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
}

.confirmation-text {
    max-width: 347px;
    text-align: center;
    margin: auto;
}