/* You can add global styles to this file, and also import other style files */

@import '/src/variables.scss';
@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/themes/light-border.css';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #c0dfff70;
}

// ::ng-deep .cdk-overlay-pane { .cdk-overlay-pane {
//     transform: translate(-16px, -40px);
// }
.green-snackbar {
    background: #218838!important;
    color: white !important;
}

.green-snackbar button {
    background-color: #218838!important;
    color: white !important;
    border: none !important;
}

.red-snackbar {
    background: #F44336 !important;
    color: white !important;
}

.red-snackbar button {
    background-color: #F44336 !important;
    color: white !important;
    border: none !important;
}

.max-width {
    max-width: 1440px;
}

@media (max-width: 1440px) and (min-width: 1250px) {
    .max-width {
        padding: $marginPageDesktopX;
    }
}

@media (max-width: 1250px) {
    .max-width {
        padding: $marginPageTabletX;
    }
}

@media (max-width: 600px) {
    .max-width {
        padding: $marginPageMobileX;
    }
}