

/* SCSS HEX */
$gunmetal: #022f40;
$pacific-blue: #38aecc;
$blue-ncs: #0090c1;
$gunmetal-2: #183446;
$blue-sapphire: #046e8f;

/* SCSS HSL */
$gunmetal: hsla(196, 94%, 13%, 1);
$pacific-blue: hsla(192, 59%, 51%, 1);
$blue-ncs: hsla(195, 100%, 38%, 1);
$gunmetal-2: hsla(203, 49%, 18%, 1);
$blue-sapphire: hsla(194, 95%, 29%, 1);

/* SCSS RGB */
$gunmetal: rgba(2, 47, 64, 1);
$pacific-blue: rgba(56, 174, 204, 1);
$blue-ncs: rgba(0, 144, 193, 1);
$gunmetal-2: rgba(24, 52, 70, 1);
$blue-sapphire: rgba(4, 110, 143, 1);


/* Padding page */
$marginPageDesktopX: 0 60px;
$marginPageTabletX: 0 50px;
$marginPageMobileX: 0 20px;

$boxShadow: 0 4px 24px 0 rgb(34 41 47 / 10%);