

/* SCSS HEX */
$gunmetal: #022f40;
$pacific-blue: #38aecc;
$blue-ncs: #0090c1;
$gunmetal-2: #183446;
$blue-sapphire: #046e8f;
$green: #119691;

// $gunmetal: #ff0000;
// $pacific-blue: #ff0000;
// $blue-ncs: #ff0000;
// $gunmetal-2: #ff0000;
// $blue-sapphire: #ff0000;


/* Padding page */
$marginPageDesktopX: 0 60px;
$marginPageTabletX: 0 50px;
$marginPageMobileX: 0 20px;

$boxShadow: 0 4px 24px 0 rgb(34 41 47 / 10%);