<div class="manage-plan-contaienr">
    <div class="header">
        <div class="title">Editar plan</div>
        <div class="description">Cambia la informacion del plan y luego presiona "Guardar" cuando hayas terminado.</div>
    </div>
    <div class="plan-form">
        <div fxLayout="row wrap" fxLayoutGap="30px grid">
            <div fxFlex='50'>
                <mat-form-field style="width: 100%;">
                    <mat-label>Nombre</mat-label>
                    <input matInput type="text">
                </mat-form-field>
            </div>
            <div fxFlex='50'>
                <mat-form-field style="width: 100%;">
                    <mat-label>Codigo</mat-label>
                    <input matInput type="text">
                </mat-form-field>
            </div>
            <div fxFlex='50'>
                <mat-form-field style="width: 100%;">
                    <mat-label>Isapre</mat-label>
                    <mat-select matInput type="text">
                        <mat-option>Banmedica</mat-option>
                        <mat-option>Cruzblanca</mat-option>
                        <mat-option>Colmena</mat-option>
                        <mat-option>Vidatres</mat-option>
                        <mat-option>Consalud</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex='50'>
                <mat-form-field style="width: 100%;">
                    <mat-label>Tipo de plan</mat-label>
                    <mat-select matInput type="text">
                        <mat-option>Abierto</mat-option>
                        <mat-option>Cerrado</mat-option>
                        <mat-option>Preferente</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex='50'>
                <mat-form-field style="width: 100%;">
                    <mat-label>Tope anual</mat-label>
                    <input matInput type="text">
                </mat-form-field>
            </div>
            <div fxFlex='25'>
                <mat-checkbox class="example-margin">Regional</mat-checkbox>
            </div>
            <div fxFlex='25'>
                <mat-checkbox class="example-margin">Nacional</mat-checkbox>
            </div>
            <div fxFlex='100'>
                <mat-form-field style="width: 100%;">
                    <ngx-mat-file-input [multiple]='false' accept='.pdf'></ngx-mat-file-input>
                </mat-form-field>
            </div>
            <div fxFlex='40'>
                <mat-form-field style="width:100%">
                    <mat-label>Proveedor</mat-label>
                    <input [formControl]='providerFormControl' type="text" placeholder="Proveedor" aria-label="Proveedor" matInput [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
                        <mat-option *ngFor="let provider of providersFiltered" [value]="provider.id">
                            {{provider.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div fxFlex='21'>
                <mat-form-field style="width: 100%;">
                    <mat-label>% Ambulatorio</mat-label>
                    <input matInput type="text">
                </mat-form-field>
            </div>
            <div fxFlex='21'>
                <mat-form-field style="width: 100%;">
                    <mat-label>% Hospitalaario</mat-label>
                    <input matInput type="text">
                </mat-form-field>
            </div>
            <div fxFlex='18'>
                <button mat-button>Añadir</button>
            </div>
            <div fxFlex="100">
                <div class="example-container mat-elevation-z8 table-plan-provider-container">
                    <table mat-table [dataSource]="planProviders" style="width: 100%;">

                        <!-- Position Column -->
                        <ng-container matColumnDef="id">
                            <th class='row-planprovider' mat-header-cell *matHeaderCellDef>ID</th>
                            <td class='row-planprovider' mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="provider">
                            <th class='row-planprovider' mat-header-cell *matHeaderCellDef>Nombre</th>
                            <td class='row-planprovider' mat-cell *matCellDef="let element"> {{element.provider_id}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="% ambulatory">
                            <th class='row-planprovider' mat-header-cell *matHeaderCellDef>% Ambulatorio</th>
                            <td class='row-planprovider' mat-cell *matCellDef="let element"> {{element.percentage_ambulatory }} %</td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="% hospitable">
                            <th class='row-planprovider' mat-header-cell *matHeaderCellDef>% Hospitalario</th>
                            <td class='row-planprovider' mat-cell *matCellDef="let element"> {{element.percentage_hospitable}}</td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>