.manage-plan-contaienr {
    .header {
        text-align: center;
        .title {
            font-size: 40px;
            font-weight: 600;
            color: #036e8f;
            line-height: 1;
        }
        .description {
            margin-top: 15px;
            color: #7b7b7b;
            font-weight: 500;
        }
    }
    .plan-form {
        margin-top: 40px;
    }
}

.row-planprovider {
    width: 20% !important;
}

.table-plan-provider-container {
    max-height: 400px;
    height: 400px;
    overflow: auto;
}